-#  This file is app/views/movies/index.html.haml
%h1 Current Parking Slots

%table#parking
  %thead
    %tr
      %th Date
      %th Time
      %th Length of Time
      %th Class
  %tbody
    %tr
      %th 2/20
      %th 1:00-3:30PM
      %th 2Hrs 30Mins
      %th CS3300
    %tr
      %th 2/21
      %th 4:30-6:30PM
      %th 2Hrs
      %th CS3020 

=link_to 'Refresh'
<button class="button">Calendar</button>



